@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: IransnasMedium;
  src: url(../../public/fonts/IRANSansWeb-Medium.ttf);
}

@font-face {
  font-family: IransnasBold;
  src: url(../../public/fonts/IRANSansWeb\ Bold.ttf);
}

@font-face {
  font-family: IransnasLight;
  src: url(../../public/fonts/IRANSansWeb\ Light.ttf);
}
@font-face {
  font-family: gothic;
  src: url(../../public/fonts/Darkcastle_PERSONAL_USE_ONLY.otf);
}

.iranSansFont{
  font-family: IransnasMedium;
}

.gotichFont{
  font-family: gothic;
}

body {
  font-family: IransnasMedium;
}
