@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: IransnasMedium;
  src: url(/fonts/IRANSansWeb-Medium.ttf);
}
@font-face {
  font-family: IransnasBold;
  src: url(/fonts/IRANSansWeb\ Bold.ttf);
}
@font-face {
  font-family: IransnasLight;
  src: url(/fonts/IRANSansWeb\ Light.ttf);
}
@font-face {
  font-family: gothic;
  src: url(/fonts/Darkcastle_PERSONAL_USE_ONLY.otf);
}
@font-face {
  font-family: wildBreathOfZelda;
  src: url(../../public/fonts/The\ Wild\ Breath\ of\ Zelda.otf);
}

.iranSansFont {
  font-family: IransnasMedium;
}

.iranSansBoldFont {
  font-family: IransnasBold;
}

.gotichFont {
  font-family: gothic;
}

.wildBreathOfZeldaFont{
  font-family: wildBreathOfZelda;
}

body {
  font-family: IransnasMedium;
  overflow-x: hidden;
}
